@media (max-width:1200px) {

    .by-card,
    .e-wallets,
    .internet-banks,
    h6 {
        font-size: 15px;
    }

    .by-card,
    .e-wallets,
    .internet-banks,
    i {
        font-size: 15px;
    }

    .pg-cart .pg-main{
        padding: 20px;
    }

    .pg-cart-total{
        padding: 20px;
    }

}

@media (max-width: 1080px) {
    .container {
        height: auto;
    }

    .container .imgBx {
        box-sizing: border-box;
        height: auto;
        text-align: center;
        overflow: hidden;
    }

    .container .imgBx img {
        left: initial;
        max-width: 100%;
    }

    .details {
        height: auto;
    }

    .container .details p {
        margin-left: 0;
        max-width: 100%;
    }

}

@media (max-width:1060px) {
    .footer_content {
        gap: 5px;
    }
}

@media (max-width:1024px) {

    .footer_content .pay_cards,
    .footer_content .shopping1,
    .footer_content .shopping2,
    .footer_content .news_letter {
        width: 35%;
    }

    .shop-box {
        float: none;
        width: 100%;
        height: 100%;
        border: none
    }

    .responsive-shop {
        display: flex;
        justify-content: space-around;
        align-items: top;
        padding: 20px;
        border: 1px solid gray;
        flex-wrap: wrap;
    }

    .dp-menu .dropdown {
        display: none;
    }

    .navbar-shop ul li .after::after {
        display: none;
    }

    .sidebar-dropdown {
        display: block;
    }

    .fa-angle-down {
        display: block;
    }
}

@media (max-width:992px) {

    .about .text {
        width: 60%;
    }

    .check-pr-price,
    .subtotal,
    .total {
        width: 300px;
    }

    .pay-select {
        flex-wrap: wrap;
        gap: 15px;
    }

    .shop-cart-hero{
        padding-inline: 1rem;
    }

}

@media (max-width:768px) {
    .container .imgBx {
        width: 100%;
        padding-block: 40px;
    }

    .checkout-box {
        display: block;
        justify-content: center;
    }

    .check-info {
        width: 100%;
    }

    .check-order {
        margin-top: 50px;
    }

    .check-pr-price,
    .subtotal,
    .total {
        width: 100%;
    }

    .pay-select {
        flex-wrap: nowrap;
    }

    .details {
        width: 100% !important;
    }

    .slider{
        flex-wrap: wrap;
        
    }

    .slider-item {
        width: 100%;
    }

    .news_letter input {
        width: 100%;
    }

    .carousel {
        gap: 10px;
    }

    .wrapper .carousel .card {
        width: 235px;
        height: 235px;
    }

    .carousel .card .img {
        height: 118px;
        width: 118px;
    }

    .carousel .card .img img {
        width: 110px;
        height: 110px;
    }

    .carousel .card h2 {
        font-weight: 500;
        font-size: 1.26rem;
        margin: 30px 0 5px;
    }

    .carousel .card span {
        color: #6a6d78;
        font-size: 1rem;
    }

    .width {
        width: 50%;
    }
}

@media (max-width:660px) {

    .about .pic1 {
        height: 430px;
        width: 240px;

    }

    .about .pic2 {
        height: 430px;
        width: 240px;
    }

    .pg-cart{
    }
}

@media (max-width:577px) {

    .footer_content .pay_cards,
    .footer_content .shopping1,
    .footer_content .shopping2,
    .footer_content .news_letter {
        width: 70%;
        text-align: center;
    }

    .card p,
    .card h6 {
        font-size: 12px;
    }

    .footer_content {
        gap: 0px;
    }

    .prod-btn-hover {
        padding: 7px 15px;
        font-size: 12px;
    }


}

@media (max-width:505px) {
    .chef_heading h1 {
        font-size: 20px;
    }

    .bannerfwc {
        font-size: 40px;
    }

    .about {
        gap: 10px;
    }

    .about .text {
        width: 95%;
    }

    .about .pic1 {
        height: 400px;
        width: 205px;

    }

    .about .pic2 {
        height: 400px;
        width: 205px;
    }

    .carousel {
        gap: 10px;
    }

    .wrapper .carousel .card {
        width: 200px;
        height: 200px;
    }

    .carousel .card .img {
        height: 98px;
        width: 98px;
    }

    .carousel .card .img img {
        width: 90px;
        height: 90px;
    }

    .carousel .card h2 {
        font-weight: 500;
        font-size: 1.06rem;
        margin: 20px 0 5px;
    }

    .carousel .card span {
        color: #6a6d78;
        font-size: 0.85rem;
    }

    .shop-box {
        padding: 10px;
    }

    .container .details {
        padding-inline: 0;
    }

    .container .details h2 {
        font-size: 1.8em;
        line-height: 1em;
    }

    .container .details h3 {
        font-size: 1.8em;
    }

    .car-checkout {
        height: 20vh;
    }

    .checkout-box {
        margin-top: 50px;
    }

    .check-order {
        width: 100%;
        padding: 40px 20px;

    }

    .pay-select{
        flex-wrap: wrap;
        gap: 15px;
    }

    .pay-active {
        display: none;
    }

    .check-info table input {
        height: 35px;
    }

    .checkout-box label {
        margin-block: 2px;
    }

    .billing-details {
        text-align: center;
    }

}

@media (max-width:425px) {

    .about .pic1 {
        height: 300px;
        width: 180px;

    }

    .about .pic2 {
        height: 300px;
        width: 180px;
    }

    .carousel {
        gap: 5px;
    }

    .wrapper .carousel .card {
        width: 160px;
        height: 160px;
    }

    .carousel .card .img {
        height: 76px;
        width: 76px;
    }

    .carousel .card .img img {
        width: 70px;
        height: 70px;
    }

    .carousel .card h2 {
        font-weight: 500;
        font-size: 0.90rem;
        margin: 15px 0 0px;
    }

    .carousel .card span {
        color: #6a6d78;
        font-size: 0.85rem;
    }


    .testimonial4_slide p {
        font-size: 15px;
    }

    .cat-span {
        font-size: 12px;
    }

    .shop-box h4 {
        font-size: 17px;
    }

    .color-options {
        gap: 0.2rem;
    }

    .color-option {
        width: 1.8rem;
        height: 1.8rem;
    }

    .size-options {
        gap: 0.3rem;
    }

    .size-option {
        font-size: 0.675rem;
        padding: 0.4rem 0.8rem;
    }
}

@media (max-width:380px) {
    .bannersc {
        margin-top: 50px;
    }

    .about .pic1 {
        height: 260px;
        width: 145px;

    }

    .about .pic2 {
        height: 260px;
        width: 145px;
    }
}

@media (max-width:352px) {

    .card p,
    .card h6 {
        font-size: 10px;
    }

    .footer_copyright p {
        font-size: 12px;
    }

    .prod-btn-hover {
        padding: 7px 12px;
        font-size: 9px;
    }

    .bannerfwc {
        font-size: 32px;
    }

    .about .text h3 {
        font-size: 60px;
    }

    .about .text h1 {
        font-size: 45px;
    }

    .testimonial4_slide p {
        font-size: 13px;
    }

    .width {
        width: 100%;
    }

    .container .details p {
        font-size: 12px;
    }

    .container .details button {
        padding: 10px 15px;
        margin-top: 0;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .check-pr,
    .check-price,
    .subtotal,
    .total p,
    span {
        font-size: 13px;
    }

    #e-pay-label {
        font-size: 14px;
    }

}

@media (max-width:325px) {
    .wrapper .carousel .card {
        width: 130px;
        height: 130px;
    }

    .carousel .card .img {
        height: 49px;
        width: 49px;
    }

    .carousel .card .img img {
        width: 45px;
        height: 45px;
    }

    .carousel .card h2 {
        font-weight: 500;
        font-size: 0.70rem;
        margin: 15px 0 0px;
    }

    .carousel .card span {
        color: #6a6d78;
        font-size: 0.65rem;
    }
}

@media (max-width:300px) {

    .prod-hover,
    .chef-pic {
        width: 100%;
    }

    .card p,
    .card h6 {
        font-size: 8px;
    }

    .about .pic1 {
        height: 260px;
        width: 130px;

    }

    .about .pic2 {
        height: 260px;
        width: 130px;
    }

}