@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

:root,
[data-bs-theme=light] {
  --bs-choco: rgb(236, 168, 119);
  --bs-beige: beige;
  --bs-brown: brown;
}

.cross-through {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white
}

/* Navigation Start */

nav {
  background-color: transparent;
}

.navbar-brand h4 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 10px;
  color: white;

}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 60px;
  width: 60px;
}

.nav-link {
  font-size: 18px;
  margin-inline: 10px;
  color: white;
  position: relative;
}

.nav-link:hover {
  color: var(--bs-choco);
}

nav ul li .after::after {
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  left: 7px;
  bottom: -2px;
  background-color: rgb(204, 167, 130);
  border-radius: 3px;
  transition: 0.5s;
}

nav .after:hover::after {
  width: 80%;
}

/* Navigation End */

/* Carousel Start */
.car-1 {
  background-image: url(Images/cloth2-hero-edit.jpg);
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
}

/* Carousel End */

/* Hero Text Start */

.bannersc {
  color: var(--bs-choco);
  font-size: 15px;
  margin-top: 120px;
  margin-bottom: 30px;
}

.bannerfwc {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 30px;
  color: white;
  line-height: 25px;
}

.bannerp {
  font-size: 16px;
  margin-bottom: 30px;
  color: white;
  display: flex;
  justify-content: center;
}

.bannerpara {
  width: 65%;
}

.bannershopnow {
  background-color: black;
  color: white;
  height: 50px;
  width: 150px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 3px;
  border: none;
}

.bannershopnow:hover {
  background-color: rgb(21, 21, 21);
  transition: 0.1s;
}

/* Hero Text End */

/* Infinite Carousel Start */
.infinite-slider {
  background-color: rgb(250, 249, 249);

}

.slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-block: 80px;
  gap: 15px;
}

.slider-item {
  width: 350px;
  height: 220px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.slider-item:hover{
  transform: scale(1.07);
  background-color: rgb(245, 245, 245);
}

.slider-item img {
  height: 40px;
  width: 40px;
}

.slider-item p {
  font-size: 14px;
  color: grey;
}

.slider-item h6 {
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Infinite Carousel End */

/* Product Section Start*/
.chef_heading {
  margin-block: 80px;
  display: flex;
  justify-content: center;
}

.chef_heading h1 {
  color: rgb(41, 41, 41);
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 1px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card p{
  font-weight: 700;
}
  
.card:hover .prod-btn-hover {
  display: block;
}

.card-body{
  text-align: left;
  width: 100%;
}

.prod-buy{
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid gray;
}

.prod-buy:hover {
  background-color: rgb(21, 21, 21);
  color: white;
}

.prod-btn-hover {
  background-color: rgb(21, 21, 21);
  color: white;
  padding: 10px 26px;
  position: absolute;
  border-radius: 20px;
  display: none;
}

.prod-btn-hover:hover {
  border: 2px solid rgb(21, 21, 21);
}

/* Product Section End*/

/* Footer Start */
footer {
  background-color: rgb(21, 21, 21);
  margin-top: 100px;
}

footer p {
  color: rgb(182, 182, 182);
}

.footer_content {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding-top: 100px;
}

.footer_content .pay_cards {
  height: 320px;
  width: 280px;
}

.footer_content .shopping1 {
  height: 320px;
  width: 200px;
}

.footer_content .shopping2 {
  height: 320px;
  width: 200px;
}

.footer_content .news_letter {
  height: 320px;
  width: 320px;
}


.pay_cards p {
  margin-top: 25px;
}

.footer_content h4 {
  margin-bottom: 30px;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
}

.news_letter h3 {
  font-weight: 500;
  color: white;
}

.news_letter p {
  margin-top: 20px;


}

.news_letter input::placeholder {
  color: white;
}

.news_letter input {
  margin-top: 20px;
  height: 40px;
  width: 300px;
  padding-inline: 10px;
  border: none;
  outline: none;
  background-color: rgb(102, 102, 102);
  color: white;
  cursor: pointer;
}

.news_letter input {
  font-size: 15px;
}

.footer_content a p:hover {
  color: grey;
}

.footer_copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  border-top: 1px solid gray;
  text-align: center;
}

.social-icons i{
  background-color: rgb(65, 64, 64);
  padding: 15px;
  border-radius: 100px;
}

.social-icons i:hover {
  transform: rotateY(360deg);
  transition: 2s;
}

/* Footer End */